
label{
  
  display: block;
  justify-content: center;
  align-items:center;
}

.modal{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

#department{
  text-align: left;
  white-space: nowrap;
  width: 14em;
  margin-bottom: 10px;
}
.sizeForm
{
  align-items: center;
  justify-content: center;
}
.backgroundModal 
{
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  height: 100%;
  border-radius: 2px 2px 2px 2px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: visible;
  opacity: 0.9;
}

.textModal
{
  padding: 14px;
}
.backgroundModalText
{
  background-color: white;
  width: 400px;
  border-radius: 2px 2px 2px 2px;
  width: 400px;
  opacity: 1;
}

.backHomeLink{
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset{
  margin-bottom: 20px;
}